[Unit]
Description=Collect battery statistics

[Service]
Type=oneshot
ExecStart=/usr/bin/batterystats -out /var/log/battery.log

[Install]
WantedBy=multi-user.target
